.rst-card {
  background-color: var(--rst-bg-content);
  border-radius: 8px;
  // https://m2.material.io/components/cards
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.rst-card.clickable:hover,
a.rst-card:hover {
  background-color: var(--rst-bg-content-hover);
  cursor: pointer;
}

.rst-card.padded {
  padding: 16px;
}