@forward './css_reset.scss';
@forward './components/rst-button.scss';
@forward './components/rst-card.scss';
@forward './components/rst-dropdown.scss';
@forward './components/rst-table.scss';
@forward './utils/flex.scss';
@forward './utils/page.scss';

:root {
  --rst-layout-header-height: 40px;

  --rst-primary: #d38c28;
  --rst-primary-active: #b7761b;

  --rst-bg-app: #fafafa;
  --rst-bg-content: #ffffff;
  --rst-bg-content-hover: #efefef;

  --rst-txt-color: #333333;
  --rst-txt-sub: #535353;
  --rst-txt-color-alternate: #ffffff;

  // https://banc.digital/blog/typography-font-sizes-styles-formats
  --rst-font-size-small: 12px;
  --rst-font-size-body: 14px;
  --rst-font-size-h3: 18px;
  --rst-font-size-h2: 24px;
  --rst-font-size-h1: 36px;
}
